WebContent/WEB-INF/classes/xsd/allin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2019 Enrico Cecchetti and Federico Gianno.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="NFV">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="PNI" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="NS" minOccurs="0" maxOccurs="1">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:unique name="NSDUniqueness">
            <xsd:selector xpath="NS/NSD"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
        <xsd:key name="VNFDKey">
            <xsd:selector xpath="NS/NSD/VNF/VNFD" />
            <xsd:field xpath="@id" />
        </xsd:key>
        <xsd:keyref name="VLSourceVNFD" refer="VNFDKey">
            <xsd:selector xpath="NS/NSD/VNF/VNFD/Virtual_Link" />
            <xsd:field xpath="@src" />
        </xsd:keyref>
        <xsd:keyref name="VLDestVNFD" refer="VNFDKey">
            <xsd:selector xpath="NS/NSD/VNF/VNFD/Virtual_Link" />
            <xsd:field xpath="@dst" />
        </xsd:keyref>
        <xsd:key name="PNFDKey">
            <xsd:selector xpath="NS/NSD/PNF/PNFD" />
            <xsd:field xpath="@id" />
        </xsd:key>
        <xsd:keyref name="VNodeSrc" refer="VNFDKey">
            <xsd:selector xpath="PNI/Hosts/Host/V_Node_Ref" />
            <xsd:field xpath="@id" />
        </xsd:keyref>
        <xsd:keyref name="PNodeSrc" refer="PNFDKey">
            <xsd:selector xpath="PNI/Hosts/Host/P_Node_Ref" />
            <xsd:field xpath="@id" />
        </xsd:keyref>
    </xsd:element>

    <xsd:element name="NS">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="NSD" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="PNI">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Hosts" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="Connections" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:key name="hostKey">
            <xsd:selector xpath="Hosts/Host" />
            <xsd:field xpath="@id" />
        </xsd:key>
        <xsd:unique name="ConnectionUniqueness">
            <xsd:selector xpath="Connections/Connection"/>
            <xsd:field xpath="@sourceHost"/>
            <xsd:field xpath="@destHost"/>
        </xsd:unique>
        <xsd:keyref name="ConnectionSourceHost" refer="hostKey">
            <xsd:selector xpath="Connections/Connection" />
            <xsd:field xpath="@sourceHost" />
        </xsd:keyref>
        <xsd:keyref name="ConnectionDestHost" refer="hostKey">
            <xsd:selector xpath="Connections/Connection" />
            <xsd:field xpath="@destHost" />
        </xsd:keyref>
    </xsd:element>

    <!-- Hosts -->
    <xsd:element name="Hosts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Host" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!-- Host -->
    <xsd:element name="Host">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Computational_properties" type="Computational_propertiesType" minOccurs="0" maxOccurs="1" />
                <xsd:element name="Memory_properties" type="Memory_propertiesType" minOccurs="0" maxOccurs="1" />
                <xsd:element name="Network_properties" type="Network_propertiesType" minOccurs="0" maxOccurs="1" />
                <xsd:element name="V_Node_Ref" type="VNodeRefType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="P_Node_Ref" type="PNodeRefType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="SupportedVNF" type="SupportedVNFType" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <!-- <xsd:attribute name="name" type="xsd:string" use="required"/> -->
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="fixedEndpoint" type="xsd:string" use="optional"/>
            <xsd:attribute name="active" type="xsd:boolean" use="optional" default="false"/>
            <xsd:attribute name="maxVNF" type="xsd:int" use="optional"/>
            <xsd:attribute name="type" type="TypeOfHost" use="optional"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="VNodeRefType">
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="PNodeRefType">
        <xsd:attribute name="id" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="SupportedVNFType">
        <xsd:attribute name="functional_type" type="functionalTypes" use="required" />
    </xsd:complexType>

    <xsd:simpleType name="TypeOfHost">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CLIENT"/>
            <xsd:enumeration value="SERVER"/>
            <xsd:enumeration value="MIDDLEBOX"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Connection -->
    <xsd:element name="Connections">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Connection" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Connection">
        <xsd:complexType>
            <xsd:attribute name="sourceHost" type="xsd:string" use="required"/>
            <xsd:attribute name="destHost" type="xsd:string" use="required"/>
            <xsd:attribute name="avgLatency" type="xsd:int"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="NSD">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="VNF_dependency" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="PropertyDefinition" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element ref="VNF" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="VNFFGD" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="PNF" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="flavours" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="Connection_points" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="ParsingString" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="vendor" type="xsd:string" use="optional"/>
            <xsd:attribute name="version" type="xsd:string" use="optional"/>
        </xsd:complexType>

        <!-- key reference definitions -->
        <xsd:keyref name="keyRefNode" refer="keyNode">
            <xsd:selector xpath="VNFFGD/NetworkForwardingPaths/Node_Connection" />
            <xsd:field xpath="@nodeRef" />
        </xsd:keyref>
        <xsd:key name="keyGraph">
            <xsd:selector xpath="VNF_dependency/graph" />
            <xsd:field xpath="@id" />
        </xsd:key>
        <xsd:keyref name="PropertyRef" refer="keyGraph">
            <xsd:selector xpath="PropertyDefinition/Property" />
            <xsd:field xpath="@graph" />
        </xsd:keyref>
        <xsd:unique name="pnfdUniqueness">
            <xsd:selector xpath="PNF/PNFD"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
        <xsd:unique name="flavourUniqueness">
            <xsd:selector xpath="flavour/Service_deployment_flavour"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
        <xsd:unique name="nsdCPUniqueness">
            <xsd:selector xpath="Connection_points/Connection_point"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
    </xsd:element>

    <xsd:element name="VNF">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="VNFD" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="PNF">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="PNFD" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="flavours">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Service_deployment_flavour" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Service_deployment_flavour">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="flavour_key" type="xsd:string" use="optional"/>
            <xsd:attribute name="flavour_value" type="xsd:int" use="optional"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Connection_points">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Connection_point" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="PNFD">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Connection_point" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="vendor" type="xsd:string" use="optional"/>
            <xsd:attribute name="version" type="xsd:string" use="optional"/>
            <xsd:attribute name="description" type="xsd:string" use="optional"/>
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:unique name="pnfdCPUniqueness">
            <xsd:selector xpath="Connection_Point"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
    </xsd:element>

    <xsd:element name="PropertyDefinition">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Property" type="Property" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Property">
        <xsd:choice>
            <xsd:element name="HTTPDefinition" type="HTTPDefinition" minOccurs="0"/>
            <xsd:element name="POP3Definition" type="POP3Definition" minOccurs="0"/>
        </xsd:choice>
        <xsd:attribute name="name" type="P-Name" use="required"/>
        <xsd:attribute name="graph" type="xsd:long" use="required"/>
        <xsd:attribute name="src" type="xsd:string" use="required"/>
        <xsd:attribute name="dst" type="xsd:string" use="required"/>
        <xsd:attribute name="lv4proto" type="L4ProtocolTypes" default="ANY"/>
        <xsd:attribute name="src_port" type="xsd:string"/>
        <xsd:attribute name="dst_port" type="xsd:string"/>
        <xsd:attribute name="isSat" type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:complexType name="HTTPDefinition">
        <xsd:attribute name="url" type="xsd:string" />
        <xsd:attribute name="body" type="xsd:string" use="required"/>
        <xsd:attribute name="options" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="POP3Definition">
        <xsd:attribute name="email_from" type="xsd:string" use="required"/>
        <xsd:attribute name="body" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="P-Name">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IsolationProperty"/>
            <xsd:enumeration value="ReachabilityProperty"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="VNF_dependency">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="graph" maxOccurs="unbounded" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:unique name="uniqueGraph">
            <xsd:selector xpath="graph" />
            <xsd:field xpath="@id" />
        </xsd:unique>
    </xsd:element>

    <xsd:element name="graph">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="node" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:unique name="uniqueNodeId">
            <xsd:selector xpath="node" />
            <xsd:field xpath="@id" />
        </xsd:unique>
        <xsd:key name="keyNode">
            <xsd:selector xpath="node" />
            <xsd:field xpath="@name" />
        </xsd:key>
        <xsd:keyref name="keyRefNodeSrc" refer="keyNode">
            <xsd:selector xpath="node/neighbour" />
            <xsd:field xpath="@name" />
        </xsd:keyref>
    </xsd:element>

    <!-- may be better to reference Node or Neighbour by id instead of name? -->
    <xsd:element name="node">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="neighbour" maxOccurs="unbounded" minOccurs="0" />
                <xsd:element ref="configuration" maxOccurs="1" minOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="functional_type" type="functionalTypes" use="required" />
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:unique name="uniqueNeighbourId">
            <xsd:selector xpath="neighbour" />
            <xsd:field xpath="@id" />
        </xsd:unique>
        <xsd:unique name="uniqueConfigurationId">
            <xsd:selector xpath="configuration" />
            <xsd:field xpath="@id" />
        </xsd:unique>
    </xsd:element>

    <xsd:element name="neighbour">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="configuration">
        <xsd:complexType>
            <xsd:choice>
                <xsd:element ref="firewall" />
                <xsd:element ref="endhost" />
                <xsd:element ref="endpoint" />
                <xsd:element ref="antispam" />
                <xsd:element ref="cache" />
                <xsd:element ref="dpi" />
                <xsd:element ref="mailclient" />
                <xsd:element ref="mailserver" />
                <xsd:element ref="nat" />
                <xsd:element ref="vpnaccess" />
                <xsd:element ref="vpnexit" />
                <xsd:element ref="webclient" />
                <xsd:element ref="webserver" />
                <xsd:element ref="fieldmodifier" />
            </xsd:choice>
            <xsd:attribute name="id" type="xsd:long" use="optional" />
            <xsd:attribute name="name" type="xsd:string" use="required" />
            <xsd:attribute name="description" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="VNFD">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Virtual_Link" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="VDU" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element ref="Dependency" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="vendor" type="xsd:string" use="optional"/>
            <xsd:attribute name="version" type="xsd:string" use="optional"/>
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:unique name="VDUUniqueness">
            <xsd:selector xpath="VDU"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
        <xsd:unique name="VirtualLinkUniqueness">
            <xsd:selector xpath="Virtual_Link"/>
            <xsd:field xpath="@src"/>
            <xsd:field xpath="@dst"/>
        </xsd:unique>
        <xsd:unique name="RelationUniqueness">
            <xsd:selector xpath="Dependency/Relation"/>
            <xsd:field xpath="@src"/>
            <xsd:field xpath="@dst"/>
        </xsd:unique>
        <xsd:key name="VDUKey">
            <xsd:selector xpath="VDU" />
            <xsd:field xpath="@id" />
        </xsd:key>
        <xsd:keyref name="DependencySourceVDU" refer="VDUKey">
            <xsd:selector xpath="Dependency/Relation" />
            <xsd:field xpath="@src" />
        </xsd:keyref>
        <xsd:keyref name="DependencyDestVDU" refer="VDUKey">
            <xsd:selector xpath="Dependency/Relation" />
            <xsd:field xpath="@target" />
        </xsd:keyref>
    </xsd:element>

    <xsd:element name="Virtual_Link">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="qos" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:choice>
                            <xsd:element name="latency" type="xsd:int"/>
                            <xsd:element name="jitter" type="xsd:int"/>
                        </xsd:choice>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="src" type="xsd:string" use="required" />
            <xsd:attribute name="dst" type="xsd:string" use="required" />
            <xsd:attribute name="test_access" type="test_accessType" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="test_accessType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="None" />
            <xsd:enumeration value="Passive" />
            <xsd:enumeration value="Active" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="VDU">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Computational_requirements" type="Computational_propertiesType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="Memory_requirements" type="Memory_propertiesType" minOccurs="0" maxOccurs="1" />
                <xsd:element name="Network_requirements" type="Network_propertiesType" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="vm_image" type="xsd:string" use="optional" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Dependency">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Relation" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:attribute name="src" type="xsd:string" use="required" />
                        <xsd:attribute name="target" type="xsd:string" use="required" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="VNFFGD">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="NetworkForwardingPaths" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        <!-- key reference definitions -->
        <xsd:unique name="PathUniqueness">
            <xsd:selector xpath="NetworkForwardingPaths"/>
            <xsd:field xpath="@id"/>
        </xsd:unique>
    </xsd:element>

    <xsd:element name="NetworkForwardingPaths">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Node_Connection" minOccurs="2" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="n_endpoint" type="xsd:int" use="optional"/>
            <xsd:attribute name="n_vl" type="xsd:int" use="optional"/>
            <xsd:attribute name="vnffgd_security" type="xsd:string" use="optional"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Node_Connection">
        <xsd:complexType>
            <xsd:attribute name="nodeRef" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Computational_propertiesType">
        <xsd:attribute name="cpu" type="xsd:int" use="required"/>
        <xsd:attribute name="cores" type="xsd:int" use="required"/>
        <xsd:attribute name="nOfOperations" type="xsd:int" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="Memory_propertiesType">
        <xsd:attribute name="disk_storage" type="xsd:int" use="required"/>
        <xsd:attribute name="memory" type="xsd:int" use="required"/>
        <xsd:attribute name="virtual_mem_res" type="xsd:int" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="Network_propertiesType">
        <xsd:attribute name="bandwidth" type="xsd:int" use="optional"/>
    </xsd:complexType>

    <!-- Connection point (characterizing PNFD & NSD) -->
    <xsd:element name="Connection_point">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="type" type="connection_pointType"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="connection_pointType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="virtual_port" />
            <xsd:enumeration value="virtual_nic_addr" />
            <xsd:enumeration value="physical_port" />
            <xsd:enumeration value="physical_nic_addr" />
            <xsd:enumeration value="endpoint" />
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Functional_type attributes -->
    <xsd:simpleType name="functionalTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FIREWALL" />
            <xsd:enumeration value="ENDHOST" />
            <xsd:enumeration value="ENDPOINT" />
            <xsd:enumeration value="ANTISPAM" />
            <xsd:enumeration value="CACHE" />
            <xsd:enumeration value="DPI" />
            <xsd:enumeration value="MAILCLIENT" />
            <xsd:enumeration value="MAILSERVER" />
            <xsd:enumeration value="NAT" />
            <xsd:enumeration value="VPNACCESS" />
            <xsd:enumeration value="VPNEXIT" />
            <xsd:enumeration value="WEBCLIENT" />
            <xsd:enumeration value="WEBSERVER" />
            <xsd:enumeration value="FIELDMODIFIER" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="protocolTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="HTTP_REQUEST" />
            <xsd:enumeration value="HTTP_RESPONSE" />
            <xsd:enumeration value="POP3_REQUEST" />
            <xsd:enumeration value="POP3_RESPONSE" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ActionTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ALLOW" />
            <xsd:enumeration value="DENY" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="L4ProtocolTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ANY" />
            <xsd:enumeration value="TCP" />
            <xsd:enumeration value="UDP" />
            <xsd:enumeration value="OTHER" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="firewall">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="elements" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="defaultAction" type="ActionTypes"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="elements">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="action" type="ActionTypes" minOccurs="0" default="DENY"/>
                <xsd:element name="source" type="xsd:string"/>
                <xsd:element name="destination" type="xsd:string" />
                <xsd:element name="protocol" type="L4ProtocolTypes" minOccurs="0" default="ANY"/>
                <xsd:element name="src_port" type="xsd:string" minOccurs="0"/>
                <xsd:element name="dst_port" type="xsd:string" minOccurs="0"/>
                <xsd:element name="directional" type="xsd:boolean" minOccurs="0" default="true"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="endhost">
        <xsd:complexType>
            <xsd:attribute name="body" type="xsd:string" />
            <xsd:attribute name="sequence" type="xsd:integer" />
            <xsd:attribute name="protocol" type="protocolTypes" />
            <xsd:attribute name="email_from" type="xsd:string" />
            <xsd:attribute name="url" type="xsd:string" />
            <xsd:attribute name="options" type="xsd:string" />
            <xsd:attribute name="destination" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="endpoint">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="antispam">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="source" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="cache">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="resource" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="dpi">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="notAllowed" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mailclient">
        <xsd:complexType>
            <xsd:attribute name="mailserver" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="mailserver">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="nat">
        <xsd:complexType>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="source" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="vpnaccess">
        <xsd:complexType>
            <xsd:attribute name="vpnexit" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="vpnexit">
        <xsd:complexType>
            <xsd:attribute name="vpnaccess" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="webclient">
        <xsd:complexType>
            <xsd:attribute name="nameWebServer" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="webserver">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="fieldmodifier">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" nillable="true" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>